<div class="main-layout container">

   <header class="page-header">
      <h1>
         <a href="#/">
            <i class='fa fa-paper-plane'></i>
            Paperdart
         </a>
         <small>paste &amp; share</small>
      </h1>
   </header>

   <div class="row">
      <div class="col-md-7" data-ax-widget-area="editor"></div>
      <div class="col-md-5" data-ax-widget-area="preview"></div>
   </div>

   <footer class="ax-footer">
      © 2017 <a href="https://x1b.github.io">x1B</a>.
      Under <a href="https://raw.githubusercontent.com/x1B/paperdart/master/LICENSE-MIT">MIT-LICENSE</a>.
      Sources <a href="https://github.com/x1b/paperdart">on GitHub</a>.
   </footer>

</div>
