<div class="panel panel-default" ng-if="model.source">
  <div class="panel-heading" ng-if="!model.source.id">Create a new paste</div>
  <div class="panel-heading" ng-if="model.source.id">
     <a ng-href="{{ view.link }}"><i class="fa fa-link"></i> Permalink</a>
     <span ng-if="view.originLink">(<a ng-href="{{ view.originLink }}">parent</a>)</span>
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-9">
          <input ng-disabled="view.busy"
                 ng-model="model.source.title"
                 class="form-control"
                 placeholder="Title (optional)">
        </div>
        <div class="btn-group col-md-3" dropdown>
          <button type="button"
                  ng-class="{ 'ax-disabled': view.busy }"
                  class="btn btn-default pd-source-editor-mime dropdown-toggle pull-right"
                  dropdown-toggle
                  aria-expanded="{{ view.showMimeTypes }}">
            {{ view.typeLabels[ model.source.mimeType ] }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"
              role="menu">
            <li ng-repeat="type in model.mimeTypes">
              <a ng-click="commands.selectMimeType( type )" href="#">{{ type.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <br>

    <form>
      <div class="form-group">
        <label ax-for="'source-text'">Source Text</label>
        <textarea ax-id="'source-text'"
                  ui-codemirror="view.codemirrorOptions"
                  ui-refresh='view.codemirrorRefreshCount'
                  ng-model-options="{ 'debounce': 100 }"
                  ng-model="model.source.text"></textarea>
      </div>

    </form>

  </div>
</div>
