<div class="panel panel-default" ng-if="model.source">
  <div class="panel-heading" ng-if="!model.source.id">Create a new paste</div>
  <div class="panel-heading" ng-if="model.source.id"><a ng-href="{{ view.link }}">Paste {{ model.source.id }}</a></div>
  <div class="panel-body">

    <form>
      <div class="form-group">
        <input ng-disabled="view.busy"
               ng-model="model.source.title"
               class="form-control"
               placeholder="Title (optional)">
      </div>

      <div class="form-group">
        <label ax-for="'source-text'">Source Text</label>
        <textarea ui-codemirror="view.codemirrorOptions"
                  ui-refresh='view.cmRefreshCount'
                  ng-model-options="{ 'debounce': 500 }"
                  ax-id="'source-text'"
                  ng-model="model.source.text"></textarea>
      </div>

      <div class="form-group pull-right">
        <div class="btn-group" dropdown>
          <button type="button"
                  ng-class="{ 'ax-disabled': view.busy }"
                  class="btn btn-default pd-source-editor-mime">{{ view.typeLabels[ model.source.mimeType ] }}
          </button>
          <button type="button"
                  class="btn btn-default dropdown-toggle"
                  dropdown-toggle
                  aria-expanded="{{ view.showMimeTypes }}">
            <span class="caret"></span>
            <span class="sr-only">Select Content Type</span>
          </button>
          <ul class="dropdown-menu"
              role="menu">
            <li ng-repeat="type in model.mimeTypes">
              <a ng-click="commands.selectMimeType( type )" href="#">{{ type.label }}</a>
            </li>
          </ul>
        </div>

        <button type="button"
                class="btn btn-primary"
                ng-class="{ 'ax-disabled': view.busy }"
                ng-click="commands.save()"><i class='fa fa-paper-plane'></i> Save
        </button>
      </div>

    </form>
  </div>
</div>
