.app-layout.container, .app-layout .ax-header, .app-layout .ax-content, .app-layout .ax-footer {
   position: relative
}

.app-layout.container {
   width: 90%;
   max-width: 1400px;
   margin-left: 0;
}

.app-layout .ax-footer {
   margin-top: 50px
}
