@import "variables";

.main-layout {
   h2 {
      .material-icons {
         font-size: 32px;
      }
   }

   .main-ribbon {
      background: $accentColor;
      height: 40vh;
      width: 100vw;
      flex-shrink: 0;
   }

   .main-content-wrapper {
      margin-top: -35vh;
      flex-shrink: 0;
   }

   .main-content {
      border-radius: 2px;
      padding: 20px;
      min-height: 60vh;
   }
}
