<div class="mdl-layout__container has-scrolling-header">
   <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded" data-upgraded=",MaterialLayout">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
         <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Paperdart</span>
            <div class="mdl-layout-spacer"></div>
         </div>
      </header>

      <div class="main-ribbon"></div>
      <main class="main-content-wrapper mdl-layout__content">
         <div class="main-container mdl-grid">
            <div class="main-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
               <h3>Editor</h3>
               <div data-ax-widget-area="editor"></div>
            </div>
            <div class="main-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
               <h3>Preview</h3>
               <div data-ax-widget-area="preview"></div>
            </div>
         </div>
         <footer class="main-footer mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
               <ul class="mdl-mini-footer--link-list">
                  <li><a href="https://x1b.github.io">© 2017 x1B</a></li>
                  <li><a href="https://raw.githubusercontent.com/x1B/paperdart/master/LICENSE-MIT">MIT-LICENSE</a></li>
                  <li><a href="https://github.com/x1b/paperdart">on GitHub</li>
               </ul>
            </div>
         </footer>
      </main>
   </div>
</div>
